* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.boxes {
    background-color: rgba(26, 26, 26, 0.933);
    box-shadow: 3px 5px 55px rgb(140, 135, 135);
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Adjust for smaller screens */
    gap: 1rem;
    width: 1000px;
    padding: 0 10px; /* Add some padding to the sides */
}

.box {
    background-color: hsla(0, 4%, 95%, 0.955);
    height: auto; /* Make the height auto for smaller screens */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 3px 2px 5px #555752e3;
    padding: 10px;
}

img {
    margin-top: 20px;
    margin-bottom: 10px;
    height: auto; /* Make the height auto for smaller screens */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    object-fit: cover;
}

.footer-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px; /* Add some margin between sections on smaller screens */
}

.header img {
    border-radius: 50%;
    height: 150px;
    max-width: 150px;
}

.header h1 {
    font-size: 2rem;
}

.show-money {
    margin-top: 10px;
    text-align: center;
    position: sticky;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgb(4, 85, 4);
    color: aliceblue;
    font-weight: 800;
    font-size: xx-large;
    top: 0;
    left: 0;
    display: flex;
    box-shadow: 9px 1px 22px #15c936e3;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

@media (min-width: 600px) {
    .boxes {
        grid-template-columns: repeat(2, 1fr); /* Adjust for medium-sized screens */
    }
}

@media (min-width: 900px) {
    .boxes {
        grid-template-columns: repeat(3, 1fr); /* Adjust for larger screens */
    }
}
